* {
    color: white;
    font-family: 'Roboto', sans-serif;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #ddd;
}

body {
    margin: 0;
}

.container {
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background: black;
    border-radius: 50px;
    padding: 50px 30px;
    gap: 54px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 7px 29px 0px;
}

.display {
    font-size: 48px;
    text-align: end;
    padding-right: 30px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

button {
    border-radius: 50%;
    border: none;
    width: 70px;
    height: 70px;
    background: #313131;
    font-size: 24px;
    font-weight: bold;
}

.clear {
    border-radius: 35px;
    width: 230px;
    background: #9f9f9f;
    color: black;
    font-size: 36px;
    font-weight: bold;
}

.zero {
    width: 150px;
    border-radius: 35px;
}

.divide, .multiply, .subtract, .add, .operate {
    background: #f69906;
}

.buttonDownClear{
    scale: 0.95;
    background: #555;
}

.buttonDownOperator {
    scale: 0.95;
    background: #af720f;
}

.buttonDownNumber {
    scale: 0.95;
    background: #1f1f1f;
}